*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: grey;
}

h3,
p {
  margin: 0;
}

.post {
  border: 1px solid #DDDEF2;
  padding: 12px;
  width: 500px;
  border-radius: 20px;
}

.post__image {
  width: 40px;
  height: auto;
}

.post__header {
	display: flex;
}

.post__actions {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #444;
	padding-top: 15px;
}

.post__action li {
	width: 30%;
}

.post__actions li a {
	text-decoration: none;
	color: #444;
}